<div class="col-lg-12">
    <%= render 'shared/events', events: @upcoming_events, section_title: 'Upcoming Events' %>

    <%= render 'shared/events', events: @past_events, section_title: 'Past Events' %>
</div>